@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .main-container {
        display: block;
    }

    .info {
        margin-bottom: 30px;
    }

    .hebergements-title {
        padding-bottom: 15px;
    }

    .hebergements-cards {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 22px;
    }

    .hebergements-cards .card-content {
        padding-left: 10px;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .hebergements-cards .card {
        box-sizing: border-box;
    }

    .hebergements-cards .card-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

}