@media screen and (min-width: 320px) and (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }

    .section-info {
        margin-top: 70px;
    }

    ul {
        padding: 0;
        width: 100%;
        justify-content: space-around;
    }

    li {
        border-bottom: 3px solid transparent;
        width: 50%;
    }

    h1 {
        margin: 10px 15px;
        font-size: 24px;
    }

    li:hover {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
    }

    li a:hover {
        border-top: none;
    }

    .navbar-link {
        text-align: center;
        width: 100%;
        margin: 0;
        padding-bottom: 15px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 8px;
    }

    .info h1 {
        margin: 10px 0px 10px 30px;
        font-size: 24px;
    }

    .first-paragraph {
        margin: 10px 30px;
    }

    .search-bar {
        justify-content: center;
        margin-left: 30px;
    }

    input {
        width: 83%;
        border-radius: 0 15px 15px 0;
        padding-left: 0%;
    }

    button {
        width: 49px;
        border-radius: 15px;
        position: relative;
        right: 28px;
    }

    .button-1 {
        display: none;
    }

    .fa-magnifying-glass {
        display: inline;
        color: white;
        visibility: visible;
    }

    .filter-bar {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 15px;
    }

    .filter-title {
        width: 100%;
        margin: 10px;
    }

    .filter {
        width: 37%;
        padding: 10px 14px;
        font-size: 13px;
    }

    .filter-container {
        width: 95%;
        justify-content: center;
    }

    .filter-bar .fa-solid {
        font-size: 15px;
    }

    .icon-filter {
        display: inline-block;
        width: 1%;
        margin-right: 20px;
    }

    .info-bar {
        margin-top: 15px;
        margin-left: 30px;
        display: flex;
        align-items: center;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 15px 30px;
        background-color: transparent;
    }

    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
        flex-flow: column-reverse;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .hebergements {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .hebergements-title .section-title {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        flex-direction: column;
        gap: 30px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .display-more h4 {
        margin-top: 10px;
    }

    .populaires {
        width: 100%;
        margin-bottom: 15px;
        margin-bottom: 15px;
    }

    .populaires-cards {
        margin-bottom: 15px;
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .hebergements-and-populaires .populaires {
        margin-top: 15px;
        background-color: var(--main-bg-color);
    }

    .activities {
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        flex-direction: column;
    }

    .activities-title .section-title {
        margin-bottom: 15px;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .activities-cards-container {
        display: flex;
        width: 100%;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .activities-cards-container .card {
        flex-direction: column;
        padding: 0;
    }

    .activities-cards-container .card img {
        height: 141px;
    }

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        background-color: #F2F2F2;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bloc {
        display: flex;
        width: 90%;
        flex-direction: column;
        padding: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}